<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('layouts/navbarlogin'); -%>

        <main>
            <div class="container">
                <h1 class="my-4">Course title : <%= courseDetails.title %>
                </h1>

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid"
                            src="<%= courseDetails.image %>"
                            alt="Express" />
                    </div>

                    <div class="col-md-4 text-center">
                        <h3 class="my-3">Course Description</h3>
                        <p><%= courseDetails.description %></p>

                        <a class="btn btn-danger" href="/delete/<%= courseDetails._id %>" > Delete</a>
                        <a class="btn btn-warning" href="/edit/:<%= courseDetails._id %>" >Edit</a>
                        <% if (!courseDetails._id) { %> 
                        <a class="btn btn-primary" href="/">Enroll</a>
                        <% } %> 
                        <% if (courseDetails._id) { %> 
                        <span class="enrolled-span">You are already enrolled</span>
                        <% } %> 
                    </div>
                </div>
            </div>
        </main>

  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>

    </div>
</body>

</html>