<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('layouts/navbarlogin'); -%>

        <main>
            <form class="text-center border border-light p-5" action="/edit-course/<% courseDetails._id %>" method="POST" enctype="multipart/form-data">
                <h1>Edit Course</h1>
                    <div class="form-group">
                        <label for="title"><%= courseDetails.title %></label>
                        <input type="text" class="form-control" placeholder="Course name" value="<%= courseDetails.title %>" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Course Description</label>
                        <textarea class="form-control" placeholder="Description" name="description"><%= courseDetails.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image url</label>
                        <input type="text" class="form-control" placeholder="Image Url" value="<%= courseDetails.imageUrl %>" name="imageUrl">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check-box" name="isPublic">
                        <label class="form-check-label" for="check-box">Public</label>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>

  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>

    </div>
</body>

</html>