<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('layouts/navbarlogout'); -%>

        <main>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Video Tutorials</h1>
                    <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
                </div>
            </div>

            <div>
                <h1 class="text-center">Top Courses</h1>
                <div class="container mt-3">
                    <div class="row d-flex justify-content-center">
                        <div class="card-deck">   
                        <% for (var i = 0; i < courses.length; i++) { %>
                            <div class="card mb-4">
                                <img class="card-img-top"
                                    src="<%= courses[i].image %>"
                                    alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title"><%= courses[i].title %></h4>
                                </div>
                            </div>
                        <% } %>
                        </div>
                    </div>
                    <% if (!courses) { %> 
                    <h4 class="text-center">No courses...</h4>
                    <% } %> 
                </div>
            </div>
        </main>
  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>

    </div>
</body>

</html>