<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('layouts/navbarlogin'); -%>

        <main>
            <h1 class="text-center">Courses</h1>
            <section>
                <a href="/create-course" class="btn btn-warning ">Create Course</a>
                <form class="search float-right">
                    <label>Search: </label>
                    <input type="text">
                    <input type="submit" class="btn btn-info" value="Search">
                </form>
            </section>

            <div id="showcourses" class="container mt-3">
                <div class="row ">
                    <div class="card-deck d-flex justify-content-center">
                        <% for (var i = 0; i < courses.length; i++) { %>
                        <div class="card mb-4">
                            <img class="card-img-top"
                                src= "<%= courses[i].image %>"
                                alt="Card image cap" width="300">
                            <div class="card-body">
                                <h4 class="card-title"><%= courses[i].title %></h4>
                            </div>
                            <div class="card-footer">
                                <a href="/course-details/<%= courses[i]._id %>"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right"><%= courses[i].datePosted %></small>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% if (!courses) { %> 
            <h3 class="text-center">No courses...</h3>
            <% } %> 
        </main>

  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>

    </div>
</body>

</html>